body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #f1f1f1;
}

h1 {
    color: #b22222;
}

h2 {
    color: #b22222;
}

.card {
    background-color: #242424;
    color: #f1f1f1;
}

.accordion-item {
    background-color: #242424;
    color: #f1f1f1;
}

.accordion-button {
    background-color: #242424;
    color: #f1f1f1;
}

.accordion-button:not(.collapsed) {
    background-color: #333333;
    color: #f1f1f1;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
}

.table {
    color: #f1f1f1;
}
.btn-dark {
    background-color: #b22222;
    border-color: #b22222;
}
.navbar {
    background-color: #111111 !important;
}
.navbar-brand {
    color: #b22222;
}
.nav-link:hover {
    color: #b22222;
}
.carousel-item img {
    height: 700px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .carousel-item img {
        height: 250px;
    }
}
